<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      mijji song is the creator behind mijjiCakes. her style is simple, unique, and modern!
    </p>
  </body>
</html>