<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | mijjiCakes</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
Question? Concerns? Contact mijji @ mijjiCakes@gmail.com
    </p>
  </body>
</html>